<div class="container">
    <mat-toolbar>
        <span>Agregar Producto</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form">
            <mat-grid-list cols="1" rowHeight="80px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="outline" class="ancho">
                        <mat-label>Código</mat-label>
                        <input matInput formControlName="cod_producto" [(ngModel)]="producto.cod_producto">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="outline" class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" [(ngModel)]="producto.nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="outline" class="ancho">
                        <mat-label>Precio (S/)</mat-label>
                        <input matInput formControlName="precio" [(ngModel)]="producto.precio">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button routerLink="/producto" mat-raised-button style="margin: 0 10px;">Volver</button>
                    <button type="button" (click)="save()" [disabled]="form.invalid" *ngIf="!btnUpdate"
                        mat-raised-button style="margin: 0 10px;" color="primary">Registrar</button>
                    <button type="button" (click)="update()" [disabled]="form.invalid" *ngIf="btnUpdate"
                        mat-raised-button style="margin: 0 10px;" color="primary">Actualizar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>